
body
{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover; 
        
}

div
{
    background-color: transparent;
}
    
.grid-container
{
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    padding: 0; 
    max-height: 2000px; 
}

.callout
{  
    background: transparent;
    max-width: 92%;
    margin: 0 auto;
    margin-top: 50px; 
}

.fi-shopping-cart
{
    color: black;
    font-size: 20px;
}

.top-bar, .top-bar ul
{
    background-color: transparent;
}

.footer
{
    margin-top: -10px;
    margin-left: 100px;
}