* {
  padding: 0;
  margin: 0;
}

body {
  background: #100118;
  background: radial-gradient(circle, #100118 0%, #770eaf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#100118",endColorstr="#770eaf",GradientType=1);
  font-family: "Sacramento", sans-serif;
}

div {
  margin: 450px auto;
  width: 800px;
  background-color: rgba(20, 18, 18, 0.171);
  border: 0.2 solid #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
          box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  -webkit-animation: pulsate 1.5s infinite alternate;
          animation: pulsate 1.5s infinite alternate;
}

form {
  margin: 20px auto;
}

input {
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
  margin-top: 10px;
}

.button {
  margin-bottom: 20px;
  background: #100118;
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #100118), color-stop(39%, #520979), color-stop(95%, #0c0279));
  background: linear-gradient(90deg, #100118 2%, #520979 39%, #0c0279 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#100118",endColorstr="#0c0279",GradientType=1);
  height: 35px;
  color: white;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe, 0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
  font-size: 1.8rem;
  -webkit-animation: pulsate 1.5s infinite alternate;
          animation: pulsate 1.5s infinite alternate;
  font-weight: 400;
}

table {
  margin: 20px auto;
  empty-cells: show;
  border-collapse: separate;
  border-spacing: 1px;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid;
  text-align: center;
  border-radius: 3px;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe, 0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
}

tr {
  color: white;
}

tr:last-child td:last-child {
  background-color: gray;
}

@-webkit-keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe, 0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe, 0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  }
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe, 0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe, 0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  }
}
/*# sourceMappingURL=css.css.map */